@keyframes glowanimation{
    50% {text-shadow: 0px 0px 10px yellowgreen}
}
#box3{ /*!Animated box styles and css properties*/
    width: 150px;
    height: 57px;
    background: rgba(0, 255, 55, 0.952);
    font-family: "Outfit";
    font-size: 45px;
    text-align: center;
    animation: slider;
    animation-duration: 2s;
    animation-delay: 1s;
    margin-top: 50px;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-right: 50px;
    box-shadow: 5px 5px 5px rgb(206, 204, 204);
    border-radius: 15px 15px;
    padding: 10px 15px;
}
@keyframes slider {  /*!Animation function and a variable("slider")*/  
    from{margin-left: 100%;}
    to{margin-left: 40%;}
}
body{
    background-color:rgb(188, 255, 192);
}
h1{
    font-family: Hind Madurai;
    text-shadow: 5px 5px 5px rgb(68, 68, 68)
}
h2{
    font-family: Domine;
    text-shadow: 5px 5px 5px rgb(68, 68, 68)
}
img{ /*!Image shadow*/
    box-shadow: 5px 5px 5px rgb(68, 68, 68)
}
a{
    font-family: Zilla Slab;
    text-shadow: 5px 5px 5px rgb(68, 68, 68)
}
li a{
    font-family: Play;
}
/*!Codification styles*/
#comment {
    color:rgb(7, 199, 0);
}
#whiteblue {
    color:rgb(0, 204, 255);
}
#orange {
    color:rgb(255, 115, 0);
}
#num {
    color:rgb(220, 207, 20);
}
#RSPJsonCode {
    background-color: rgb(38, 63, 63);
    width:700px;
    box-shadow: 5px 5px 5px rgb(206, 204, 204)
}
#white {
    color: white;
}
#valuesnum {
    color: rgb(158, 255, 155);
}
/*!Buttons*/
#mainPg {
    border-radius: 15px 15px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: chartreuse;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
}
#mainPg:hover {
    background-color: rgb(196, 255, 138);
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
#usePg {
    border-radius: 15px 15px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: chartreuse; 
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
}
#usePg:hover {
    background-color: rgb(196, 255, 138);
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
#rsp {
    border-radius: 15px 15px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: chartreuse; 
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
}
#rsp:hover {
    background-color: rgb(196, 255, 138);
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
#abPg {
    border-radius: 15px 15px;
    padding: 10px 15px;
    font-size: 20px;
    background-color: chartreuse; 
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
}
#abPg:hover {
    background-color: rgb(196, 255, 138);
    box-shadow: 5px 5px 5px rgb(161, 161, 161);
}
#box4 {
    background-color: rgb(0, 255, 0);
    height: 770px;
    width: 930px;
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
}
#box5 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 1320px;
    width: 930px;
}
#box6 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 1400px;
    width: 930px;
}
#box7 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 3450px;
    width: 930px;
}
#box8 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 2740px;
    width: 930px;
}
#box9 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 4200px;
    width: 930px;
}
#box10 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 3300px;
    width: 930px; 
}
#box11 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 4100px;
    width: 930px;
}
#box12 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 2800px;
    width: 930px;
}
#box13 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 2990px;
    width: 930px;
}
#box14 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 1690px;
    width: 930px;
}
#box15 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 2200px;
    width: 930px; 
}
#box16 {
    background-color: rgb(0, 255, 0);
    border-radius: 15px 15px;
    text-align: center;
    margin-left: 150px;
    box-shadow: 5px 5px 5px rgb(109, 109, 109);
    height: 1400px;
    width: 930px;
}
#atrbox {
    background-color: gray;
}
#atrboxin {
    background-color: rgb(36, 36, 36);
    width:520px;
}
#previewbox {
    background-color: darkgreen;
    width:900px;
    height: 1200px;
}
#previewbox1 {
    background-color: darkgreen;
    width:900px;
    height: 650px;
}
#preview1 {
    margin-left: 24px;
}
#prevbox2 {
    background-color: darkgreen;
    width:900px;
    height: 650px;
}
#previewbox2 {
    background-color: darkgreen;
    width:900px;
    height: 2400px;
}
#previewbox5 {
    background-color: darkgreen;
    width:900px;
    height: 680px;
}
#scriptboxexp {
    background-color: rgb(49, 49, 49);
}
